<html>
<head>
<title>Decision Log Kufarm</title>
<style type="text/css">
.table_titles {
padding-right: 40px;
padding-left: 40px;
color: #000;
}
.table_titles {
color: #FFF;
background-color: #0000FF;
}
table {
border: 2px solid #333;
}
body { font-family: "Trebuchet MS", Courier; }
</style>
</head>
<body>
<h1>Decision Log Kufarm</h1>
<h2><a href="/"class="button">Back</a></h3></h2>
<table border="4" cellspacing="4" cellpadding="2">
<tr>
<td class="table_titles">ID</td>
<td class="table_titles">Decision</td>
<td class="table_titles">Status</td>
<td class="table_titles">Pump</td>
<td class="table_titles">Event</td>
</tr>
 {% for row in decision_log %}
        <tr>
        {% for d in row %}
            <td>{{ d }}</td>
        {% endfor %}
        </tr>
    {% endfor %}
</table>
</body>
</html>
