<!doctype html>
<html>
<head>
    <title>Kufarm Monitoring System</title>
    <link rel="stylesheet" href='../static/style.css'/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<style>
		body {
			text-align: center;
		}
	</style>    
</head>
<body>
	<h1>Kufarm Monitoring System</h1>
    <hr>
    	<form method="GET">
			<h2> Last Watering: {{ time_watering }} ==> <a href="{{ url_for('decision_log') }}"class="button">Decision Log</a></h2>
			<h2> Plant is predicted to be watered on : {{ predict }}</h2>
		</form>	
	<hr>
	<h3> TREND DATA <a href="/"class="button">REFRESH</a></h3>	
	<div>
		<a href="https://plot.ly/~pramudityad/16/?share_key=HhfNNbm22vj52Xwt8d9vp0" target="_blank" title="soil trend" style="display: block; text-align: center;"><img src="https://plot.ly/~pramudityad/16.png?share_key=HhfNNbm22vj52Xwt8d9vp0" alt="soil trend" style="max-width: 100%;width: 600px;"  width="600" onerror="this.onerror=null;this.src='https://plot.ly/404.png';" /></a>
		<script data-plotly="pramudityad:16" sharekey-plotly="HhfNNbm22vj52Xwt8d9vp0" src="https://plot.ly/embed.js" async></script>
	</div>	
		<img src="/plot/temp" alt="Image Placeholder" width="40%">
		<img src="/plot/rain" alt="Image Placeholder" width="40%">
    <p> @2018 Developed by kufarm</p>

    <script src="../static/raphael-2.1.4.min.js"></script>
    <script src="../static/justgage.js"></script>
    
</body>
</html>
