<!doctype html>
<html>
<head>
    <title>Kufarm Monitoring System</title>
    <link rel="stylesheet" href='../static/style.css'/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<style>
		body {
			text-align: center;
		}
	</style>    
</head>
<body>
	<h1>Kufarm Monitoring System</h1>
    <hr>
    	<form method="GET">
			<h2> Last Watering: {{ time_watering }} ==> <a href="{{ url_for('pump_log') }}"class="button">Pump Log</a></h2>
		</form>	
	<hr>
	<h3> TREND DATA <a href="/"class="button">REFRESH</a></h3>		
		<img src="/plot/temp" alt="Image Placeholder" width="40%">
		<img src="/plot/rain" alt="Image Placeholder" width="40%">
    <p> @2018 Developed by kufarm</p>

    <script src="../static/raphael-2.1.4.min.js"></script>
    <script src="../static/justgage.js"></script>
    
</body>
</html>
